<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %} Игровая платформа {% endblock %}</title>
</head>
<body>
    <pagename>
        {% block pagename %}
            <h1>Заголовок страницы</h1>
        {% endblock %}
    </pagename>

    <menu>
        {% block menu %}
            <p>
            <h3><a href="/platform/#">Главная</a></h3>
            <p>
            <h3><a href="/platform/games/">Магазин</a></h3>
            <p>
            <h3><a href="/platform/cart/">Корзина</a></h3>
        {% endblock %}
    </menu>

    <content>
        {% block content %}
            <p>Контент</p>
        {% endblock %}
    </content>
</body>
</html>