<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{title}}</title>
</head>
<body>
    <h1>{{text1}}</h1>
    <ul>
        <li>
            <p>
                <h3>{{text2}}</h3><button><h3>{{text5}}</h3></button>
            </p>
        </li>
        <li>
            <p>
                <h3>{{text3}}</h3><button><h3>{{text5}}</h3></button>
            </p>
        </li>
        <li>
            <p>
                <h3>{{text4}}</h3><button><h3>{{text5}}</h3></button>
            </p>
        </li>
    </ul>
    <p>
        <button><h4><a href="http://127.0.0.1:8000/platform/">{{text6}}</a></h4></button>
    </p>
</body>
</html>